#include( "announce.vm" ) 
#parse( "definition.vm" )

package $package;

import org.garden.dao.hibernate.DAO;

/**
 * 
 * $className#[[DAO]]#.java
 *
 * @author $author ver. $version
 * create on $date
 */
public class $className#[[DAO]]# extends DAO implements I$className#[[DAO]]# {
	
}