#set( $className = $params.get("className"))
#set( $author = $params.get("author"))
#set( $date = $params.get("date"))
#set( $package = $params.get("packageName"))
#set( $version = $params.get("version"))