<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!--import resource="services.xml"/-->

	<!--jee:jndi-lookup id="myDataSource" jndi-name="java:comp/env/jdbc/myds"/-->

	<!--bean id="propertyCongigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="/WEB-INF/config/jdbc/jdbc.properties"></property>
	</bean-->
    
    <!--context:property-placeholder location="classpath:persistence-mysql.properties" /-->
    
    <!--tx:annotation-driven transaction-manager="transactionManager"/-->
        
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"/>
        <property name="username" value="dsm"/>
        <property name="password" value="oracle"/>
    </bean>
    
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
         <property name="dataSource" ref="dataSource"></property>
         <!--property name="packagesToScan" value="org.baeldung.spring.persistence.model" /-->
         <!--property name="annotatedClasses">
             <list>
                 <value>org.garden.sysadmin.dao.model.SysDepartment</value>
             </list>
         </property-->
         <property name="packagesToScan" value="org.garden.sysadmin.dao.model"/>
         <property name="hibernateProperties">
	         <props>
	             <prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
	             <prop key="hibernate.show_sql">true</prop>
	             <prop key="hibernate.hbm2ddl.auto">update</prop> 
	         </props>
         </property>
     </bean>
     
     <!--context:annotation-config/-->
</beans>